:root {
    --header-bg: #ccc;
}
.dark {
    --header-bg: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
p {
    cursor: default;
}
.header {
    background-color: var(--header-bg);
    height: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 70vw;
    left: 0;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 30vw;
}
.aside {
    background-color: #ddd;
    padding: 10px;
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 40px;
    transition: transform 0.3s ease;
}
.menu {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 40px;
    left: 0;
    transition: left 0.3s ease;
}
@media (max-width: 768px) {
    .header {
        right: 0;
    }
    .main {
        top: 40px;
        left: 0;
    }
    .aside {
        width: 70vw;
        transform: translateX(-100%);
    }
    .aside.active {
        transform: translateX(0);
    }
    .aside.active + .menu {
        left: 70vw;
    }
}
@media (min-width: 769px) {
    .menu {
        display: none;
    }
}


.theme {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #999;
}
.themeitem {
    height: 30px;
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;
}
.themeitem:hover {
    background-color: #ccc;
}
.themeitem.click {
    background-color: #b8b8b8;
}
.aaa {
    width: 20px;
    height: 20px;
}