* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.header {
    background-color: #ccc;
    height: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.menu {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 40px;
    left: 0;
    transition: left 0.3s ease;
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: #515ABF;
    position: fixed;
    top: 40px
}
.aside {
    width: 70vw;
    height: 100vh;
    background-color: #34918D;
    transition: transform 0.3s ease;
    position: fixed;
    top: 40px
}
@media (max-width: 768px) {
    .aside {
        transform: translateX(-100%);
    }
    .aside.active {
        transform: translateX(0);
    }
    .aside.active + .menu {
        left: 70vw;
    }
}
@media (min-width: 769px) {
    .aside {
        transform: translateX(0);
        width: 30vw;
    }
    .menu {
        display: none;
    }
}